<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
	
		<section th:fragment="departmentsList" id="departments">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="card">
							<div class="card-header">
								<h4> [[#{department.list-title}]] </h4>
							</div>
							<div th:if="${departments != null and !departments.empty}">
								<table class="table table-bordered table-hover">
									<thead class="table-dark">
										<tr>
											<th> # </th>
											<th> [[#{department.specialization}]] </th>
											<th> [[#{department.office}]] </th>
											<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
											<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="department, counter : ${departments}">
											<td> [[${counter.count}]] </td>
											<td> [[${department.specialization.name} + ' ' + ${department.specialization.services}]] </td>
											<td> [[${department.officeNo}]] </td>
											<td sec:authorize="hasRole('ROLE_ADMIN')">
												<a th:href="@{/editDepartment/} + ${department.departmentId}" class="btn btn-outline-secondary"> 
													<i class="fas fa-angle-double-right"></i> [[#{actions.edit}]] 
												</a>
											</td>
											<td sec:authorize="hasRole('ROLE_ADMIN')">
												<a th:href="@{/deleteDepartment(departmentId=${department.departmentId})}" class="btn btn-outline-danger"> 
													<i class="fas fa-angle-double-right"></i> [[#{actions.delete}]] 
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:if="${departments == null or departments.empty}">
								[[#{actions.emptyList}]]
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="card text-center bg-primary text-white mb-3">
							<div class="card-body">
								<h3> [[#{actions.total}]] </h3>
								<h4 class="display-4">
									<i class="fas fa-users"></i> [[${totalDepartments}]]
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	
	</body>
	
</html>