<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head th:replace=>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
	
		<section th:fragment="appointmentsList" id="appointments">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="card">
							<div class="card-header">
								<h4> [[#{appointment.list-title}]] </h4>
							</div>
							<div th:if="${appointments != null and !appointments.empty}">
								<table class="table table-bordered table-hover">
									<thead class="table-dark">
										<tr>
											<th> # </th>
											<th> [[#{appointment.client}]] </th>
											<th> [[#{appointment.doctor}]] </th>
											<th> [[#{appointment.date}]] </th>
											<th> [[#{appointment.time}]] </th>
											<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
											<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="appointment, counter : ${appointments}">
											<td> [[${counter.count}]] </td>
											<td> [[${appointment.client.surname} + ', ' + ${appointment.client.name}]] </td>
											<td> [[${appointment.doctor.surname} + ', ' + ${appointment.doctor.name} + ' (' + ${appointment.doctor.department.specialization.name} + ')']] </td>
											<td> [[${appointment.date}]] </td>
											<td> [[${appointment.time}]] </td>
											<td sec:authorize="hasRole('ROLE_ADMIN')">
												<a th:href="@{/editAppointment/} + ${appointment.appointmentId}" class="btn btn-outline-secondary"> 
													<i class="fas fa-angle-double-right"></i> [[#{actions.edit}]] 
												</a>
											</td>
											<td sec:authorize="hasRole('ROLE_ADMIN')">
												<a th:href="@{/deleteAppointment(appointmentId=${appointment.appointmentId})}" class="btn btn-outline-danger"> 
													<i class="fas fa-angle-double-right"></i> [[#{actions.delete}]] 
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:if="${appointments == null or appointments.empty}">
								[[#{actions.emptyList}]]
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="card text-center bg-primary text-white mb-3">
							<div class="card-body">
								<h3> [[#{actions.total}]] </h3>
								<h4 class="display-4">
									<i class="fas fa-users"></i> [[${totalAppointments}]]
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
	</body>
	
</html>