<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
	<head th:replace="~{layout/layout :: head}">
		<title> [[#{index.title}]] </title>
	</head>
	
	<body>
		<header th:replace="~{layout/layout :: header}"></header>
		<section th:replace="~{layout/buttonsLayout :: departmentButtons}"></section>
		<section th:replace="~{layout/departments/departmentsListLayout :: departmentsList}"></section>
		<footer th:replace="~{layout/layout :: footer}"></footer>
	</body>
	
</html>