<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
	<head th:replace="~{layout/layout :: head}">
		<title> [[#{index.title}]] </title>
	</head>
	<body>
	
		<header th:replace="~{layout/layout :: header}"></header>
		<section th:replace="~{layout/buttonsLayout :: addClient}"></section>
		<section th:replace="~{layout/clients/clientsListLayout :: clientsList}"></section>
		<footer th:replace="~{layout/layout :: footer}"></footer>
		
	</body>
</html>